/* index.htmlページの中身のスタイル */


head a {
    font-family: 'Raleway', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}


#container {
    text-align: center;
}


#contents {
    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}


h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.06em;
    font-size: 44px;
    margin-top: 120px;
    margin-bottom: 84px;
    margin-left: 360px;
    margin-right: 360px;
    padding-bottom: 30px;
    border-bottom: 5px solid;
}


h2 {
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: 40px;
}


.contents-item {
    display: inline-block;
    font-size: 26px;
}


.profile-item {
    width: 494px;
    display: inline-block;
    text-align: left;
    margin-left: 60px;
}


.sns-item {
    margin-top: 40px;
}

.sns-item > a {
    margin-right: 24px;
}

.profile-name {
    font-size: 26px;
    margin-bottom: 16px;
}

.profile-item {
    line-height: 32px;
}

.works-inner {
    display: inline-flex;
    flex-wrap: wrap;
}

.works-inner > a {
    margin-bottom: 24px;
    width: 50%;
}

.works-inner > a:nth-child(odd) {
    padding-right: 14px;
}

.works-inner > a:nth-child(even) {
    padding-left: 14px;
}

.works-inner > a > img {
    width: 100%;
}

.status-inner {
    display: inline-flex;
    flex-wrap: wrap;
}

.status-inner > img {
    margin-bottom: 20px;
    width: 33%;
}

.status-inner > img:nth-child(1) {
    padding-right: 16px;
}

.status-inner > img:nth-child(2) {
    padding-right: 8px;
    padding-left: 8px;
}

.status-inner > img:nth-child(3) {
    padding-left: 16px;
}

.status-inner > p {
    font-size: 24px;
    margin-bottom: 20px;
    width: 33%;
}

.contact-innner {
    padding-bottom: 100px;
}